# my functions
alias g="go_bookmarked"
alias d="go_history"
alias p="go_parents"

alias kb='setxkbmap -model pc105 -layout ie,fr -option grp:alt_shift_toggle -option caps:swapescape'

# Editor
alias vim='nvim'
alias nv='nvim'
alias nvu='nvim --noplugin -u NONE' # launch nvim without any plugin or config
alias nvd='nvim -d'

alias cd..='cd ..'

# typing is tiring
alias ls='ls --color=auto'
alias l='ls -lh'
alias ll='ls -lh'
alias la='ls -A'
alias lla='ls -Alh'
alias lal='ls -Alh'
alias tree="tree -C -a -I '.git'"


# default optiosn
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias grep='grep --color'

